<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9uAyPyIVUmXwlyrMZGwjqVpatC1oysGE</string>
	<key>GCM_SENDER_ID</key>
	<string>675230502476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artinweb</string>
	<key>PROJECT_ID</key>
	<string>artin-s-web</string>
	<key>STORAGE_BUCKET</key>
	<string>artin-s-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675230502476:ios:4ba7c1adc8d968bfa1aee9</string>
</dict>
</plist>